# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.tfplan

# Terraform provider binaries
Terraform/.terraform/providers/

# Minikube binary
Terraform/minikube-linux-amd64

# Python / API
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Docker
*.log
*.dockerignore

# IDE / OS
.vscode/
.DS_Store

Terraform/.terraform/
Terraform/minikube-linux-amd64
