name: CI/CD Main API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::231838751459:role/github-actions-role
          aws-region: us-east-1

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 \
          | docker login --username AWS --password-stdin 231838751459.dkr.ecr.us-east-1.amazonaws.com

      - name: Build Docker image
        run: docker build --no-cache -t main-api:latest ./api

      - name: Tag & Push image to ECR
        run: |
          # Short SHA (12 chars) to tag valid docker
          IMAGE_TAG=$(echo ${GITHUB_SHA} | cut -c1-12)
          echo "Docker tag: $IMAGE_TAG"

          # Tag of the images
          docker tag main-api:latest 231838751459.dkr.ecr.us-east-1.amazonaws.com/main-api:latest
          docker tag main-api:latest 231838751459.dkr.ecr.us-east-1.amazonaws.com/main-api:$IMAGE_TAG

          # Push
          docker push 231838751459.dkr.ecr.us-east-1.amazonaws.com/main-api:latest
          docker push 231838751459.dkr.ecr.us-east-1.amazonaws.com/main-api:$IMAGE_TAG
