name: CI/CD Main API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write  # Pour OIDC avec AWS
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::231838751459:role/github-actions-role
          aws-region: us-east-1

      - name: Build Docker image
        run: docker build -t main-api:latest ./api

      - name: Tag & Push image to ECR
        run: |
          docker tag main-api:latest 231838751459.dkr.ecr.us-east-1.amazonaws.com/main-api:latest
          docker push 231838751459.dkr.ecr.us-east-1.amazonaws.com/main-api:latest

      - name: Update Kubernetes deployment
        run: |
          kubectl set image deployment/main-api-main-api main-api=231838751459.dkr.ecr.us-east-1.amazonaws.com/main-api:latest -n main-api

