name: CI-CD

on:
  push:
    branches:
      - dev
      - main

jobs:
  build-deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    env:
      AWS_REGION: eu-west-3
      REPO_NAME_API: api-app
      REPO_NAME_FRONT: front-app
      K8S_NAMESPACE: challenge

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS OIDC
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: eu-west-3

    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push API image
      run: |
        docker build -t api:latest ./api
        docker tag api:latest ${{ steps.login-ecr.outputs.registry }}/${{ env.REPO_NAME_API }}:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/${{ env.REPO_NAME_API }}:latest

    - name: Build & Push Front image
      run: |
        docker build -t front:latest ./frontend
        docker tag front:latest ${{ steps.login-ecr.outputs.registry }}/${{ env.REPO_NAME_FRONT }}:latest
        docker push ${{ steps.login-ecr.outputs.registry }}/${{ env.REPO_NAME_FRONT }}:latest

    - name: Update manifests and deploy
      run: |
        sed -i "s#IMAGE_API#${{ steps.login-ecr.outputs.registry }}/${{ env.REPO_NAME_API }}:latest#g" k8s/deployment-api.yaml
        sed -i "s#IMAGE_FRONT#${{ steps.login-ecr.outputs.registry }}/${{ env.REPO_NAME_FRONT }}:latest#g" k8s/deployment-frontend.yaml
        kubectl apply -f k8s/

